<div class="bg-block" style="background-image: url('images/men.png')">
  {{#each bg-block}}
  <div class="container h-100">
    <div class="bg-block__header">
      <h1>{{h1}}</h1>
      <h2 id="typing"></h2>
      <a href="#">
        <img src="images/arrow.svg" alt="">
      </a>
    </div>
  </div>
    {{/each}}
</div>
