<div class="bg-block bg-block-2" style="background-image: url('images/men.png')">
    <div class="container h-100">
      <div class="bg-block__header">
        <h1>Je partner</h1>
        <h2>in het registreren van vastgoed</h2>
        <a href="#">
          <img src="images/arrow.svg" alt="">
        </a>
      </div>
    </div>
</div>
