<div class="top-nav">
  <div class="container">
    <div class="top-nav__nav">
      <div class="top-nav__logo">
        <a href="/index.html">
          <img src="images/logo.svg" alt="">
        </a>
      </div>
      {{#with btn}}
      <a class="top-nav__btn" href="#">{{button}}</a>
      {{/with}}
    </div>
  </div>
</div>
