<!DOCTYPE html>
<html lang="en">
<head>
    {{> ../common/head }}
</head>
<body class="min-vh-100">
{{>../common/top-nav}}
{{>../common/bg-block}}
<div class="info-block">
  <div class="container">
    <div class="info-block__position">
      <div class="info-block__bg">
        <div class="info-block__box-1">
          <div class="info-block__content">
            <div class="info-block__img">
              <img src="images/search.svg" alt="">
            </div>
            <p>Inspecties uitvoeren</p>
            <a href="#">Inloggen</a>
          </div>
          <div class="hr"></div>
        </div>
        <div class="info-block__box-2">
         <div class="info-block__content">
           <div class="info-block__img">
             <img src="images/download.svg" alt="">
           </div>
           <p>Bestanden uploaden</p>
           <a href="#">Uploaden</a>
         </div>
          <div class="hr"></div>
        </div>
        <div class="info-block__box-3">
          <div class="info-block__img">
            <img src="images/direct.svg" alt="">
          </div>
          <p>Direct inschrijven</p>
          <a href="#">Wordt partner</a>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content__info">
        <div class="content__header">
          <h3 data-aos="fade-down" data-aos-duration="900" data-aos-delay="90">Woningkwaliteit op orde</h3>
          <p data-aos="fade-down" data-aos-duration="900" data-aos-delay="150">Op 1 januari 2021 verandert de energieprestatieregelgeving. Vanaf dat moment vervalt de Energie-Index
            <br>(EI) en wordt de prestatie uitgedrukt in BENG-indicatoren conform de NTA8800 rekenmethode.</p>
          <div class="content__img" data-aos="fade-down" data-aos-duration="900" data-aos-delay="300">
            <img src="images/hous.png" alt="">
          </div>
        </div>
        <div class="content__text">
          <div class="content__block">
            <h5>Voorgenomen klassenindeling energielabels</h5>
            <p>Voor nieuwbouw worden er eisen gesteld aan drie BENG-indicatoren en een indicator voor temperatuurover-
              schrijding (om oververhitting te voorkomen). Voor bestaande woningen zijn er geen eisen. De klassenindel
              ing voor het energielabel wordt bepaald op basis van BENG 2 (primair fossiel energiegebruik). De koppeling
              tussen het energielabel en het Woningwaarderingsstelsel (WWS) blijft gehandhaafd. De nieuwe grenzen zijn
              als volgt:
            </p>
          </div>
          <div class="content__block">
            <h5>Nieuwe klassen</h5>
            <p>Er zijn 2 nieuwe A-klassen bijgekomen (+++ en ++++) speciaal voor zeer energiezuinige woningen. De punt -

              entelling voor WWS is verder ongewijzigd.</p>

          </div>
          <div class="content__block">
            <h5>Mogelijke labelverschuivingen</h5>
            <p>De overgang naar de nieuwe systematiek zorgt ervoor dat er labelverschuivingen kunnen optreden. Bij de
              gekozen labelindeling is geprobeerd om het aantal verschuivingen te minimaliseren. De helft van de wonin-
              gen behoudt het eigen label en bij 90% is er hooguit 1 label verschil (naar boven of naar beneden). Het is
              niet verplicht om direct alle woningen af te melden met de nieuwe methodiek. Bestaande energielabels zijn
              10 jaar geldig.
            </p>
          </div>
          <div class="line"></div>
          <div class="content__btn">
            <a class="top-nav__btn" href="#">Neem contact op!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{>../common/footer}}
</body>
</html>
