<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="min-vh-100">
{{>../common/top-nav}}
{{>../common/bg-block-2}}
<div class="partner">
  <div class="container">
    <div class="partner__form">
      <h3>Vul het aanmeldformulier in</h3>
      <p>We begrijpen de processen in je organisatie als geen ander en weten tegen welke uitdagingen je aanloopt.
        Onze oplossingen zijn hier daarom geheel op ingericht en afgestemd.
      </p>
      <form action="#">
        <div class="partner__info">
          <input placeholder="Naam (bedrijfsnaam)" type="text">
          <input placeholder="E-mailadres" type="text">
          <input placeholder="Telefoonnummer" type="text">
          <textarea placeholder="Bericht" name="Bericht" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="partner__bottom">
          <button class="partner__btn">Versturen</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{>../common/footer}}
</body>
</html>
